fontStyle('MyriadPro-b',MYRIADPRO-BOLD, '700', normal);
fontStyle('MyriadPro',MYRIADPRO-REGULAR, '400', normal);
fontStyle('MyriadPro',MyriadPro-it, '400', italic);
fontStyle('MyriadPro-sb',MYRIADPRO-SEMIBOLD, '600', normal);
