@import '_mixins'

.header
  z-index 5
  height 100vh
  min-height 500px
  background url('../img/main-bg.webp') no-repeat center / cover fixed

  &__body
    position relative
    padding 10% 4% 10% 4%
    position absolute
    top 0
    left 0
    firstLevelElementsMargin 30

    *
      z-index 5

.navmenu
  &__body
    display flex
    height 100%

  &__list
    flex-set row wrap
    padding 0 5px 0 5px

    @media (max-width 1300px)
      flex-set column wrap
      flex-content-position flex-start flex-start

    li
      position relative
      font-size adapt-fsize(18, 15)
      padding 10px 15px 10px 15px
      color #ffc600
      cursor pointer
      transition all 0.2s ease

      &:after
        position absolute
        bottom 10%
        left 0
        display inline-block
        height 2px
        width 100%
        content ''
        transition all 0.2s ease

      &:hover, &:focus
        color #fff

        @media (min-width: 426px)
          &:after
            background #ffc600

      &:not(:last-child)
        margin-right 35px

      @media (max-width 426px)
        background #000

        
        border-bottom 1px solid #ffc600

.main-title
  display inline-block
  font-size adapt-fsize(60, 30)
  font-family MyriadPro-b
  color #fff
  line-height 0.9

  :first-letter
    color #ffc600