$layoutWidth = 1440
$mainFontSize = 16
$minFontSize = 12

html
  --main-font-color #000
  --main-font-family MyriadPro
  --bg #fff

@import '_nullStyle'
@import '_mixins'
@import '_header'
@import '_footer'
@import '_fonts'
@import '_general'

body
  height 100%
  color var(--main-font-color)
  font adapt-fsize($mainFontSize, $minFontSize) var(--main-font-family)

  &.scroll-block
    overflow hidden

  button
    font-family var(--main-font-family)
    color var(--main-font-color)

.main
  width 100%

  &__body
    background var(--bg)

.about
  &__body
    padding 0 10% 0 15%
    firstLevelElementsMargin 60

    @media (max-width 768px)
      padding 0 10% 0 10%

  &__top
    flex-set row nowrap
    firstLevelElementsMargin 50

    @media (max-width 768px)
      flex-set column nowrap

  &__title
    font-size adapt-fsize(35, 20)
    line-height 0.9
    font-family MyriadPro-sb
    color #717171
    flex-set column nowrap

    .text-underline
      &:after
        width 50%
        right 0

  &__text-container
    position relative
    flex-basis 55%
    padding-left 20px
    margin-left auto

    &:before
      position absolute
      left -20px
      top 50%
      transform translate(-50%, -50%)
      height 80%
      width 2px
      background #a0a0a0
      content ''

      @media (max-width 768px)
        width 80%
        height 2px
        top -20px
        left 50%
        transform translate(-50%, -50%)

.advantages
  flex-set row wrap
  margin 0 -60px 0 -60px

  @media (max-width 768px)
    margin 0 -30px 0 -30px

  &__item
    min-width 300px
    flex-grow 1
    padding 20px 60px 20px 60px

    @media (max-width 768px)
      padding 20px 30px 20px 30px

.advantage
  flex-set column nowrap
  flex-content-position center center
  firstLevelElementsMargin 20
  width 230px

  &__image
    width max-content
    padding 15px 15px 15px 15px
    background #e8e8e8
    border 2px solid #e49802
    border-radius 50%

  &__title
    font-size adapt-fsize(18, 14)

  &__text
    font-style italic
    text-align center
    font-size adapt-fsize(14)

.projects
  &__body
    padding-bottom 30px

  &__header
    firstLevelElementsMargin 10

  &__title
    padding 0 0 5px 0

    &:after
      width 60%
      content ''

  &__buttons
    &:not(:last-child)
      padding-right 20px

  &__button
    font-size adapt-fsize(14)
    font-family MyriadPro-sb
    text-transform uppercase
    padding 5px 10px 5px 10px

    &:after
      transform translate(0, -10px)
      display inline-block
      width 50%
      height 1.5px
      background rgba(255, 200, 0, 0)
      content ''
      transition all 0.2s ease

    &.active, &:hover, &:focus
      &:after
        background #ffc600

  &__main-button
    padding-right 30px

  &__gallery
    display grid
    grid-template 'game game game game' 100% / 1fr 1fr 1fr 1fr

    @media (min-width 1600px)
      grid-template 'game game game game game' 100% / 1fr 1fr 1fr 1fr 1fr

    @media (max-width 768px)
      grid-template 'game game game' 100% / 1fr 1fr 1fr

    @media (max-width 550px)
      grid-template 'game game' 100% / 1fr 1fr

.gallery
  display grid
  grid-template 'game game game game' auto / 1fr 1fr 1fr 1fr

  &__item
    img
      block-size 100%

.process
  &__body
    firstLevelElementsMargin 30

  &__title
    &:after
      width 60%
      bottom -2px
      content ''

  &__steps
    @media (min-width 800px)
      padding-left 10%

.step
  $toMobile = 800px

  &__body
    flex-set row nowrap

    @media (max-width $toMobile)
      flex-set column nowrap

    &-reverse
      flex-set row-reverse nowrap

  &__image
    @media (min-width $toMobile)
      width 50%

    img
      block-size 100%

  &__main
    @media (min-width $toMobile)
      width 50%

    padding 45px 35px 45px 35px
    firstLevelElementsMargin 35

    @media (max-width $toMobile)
      padding 25px 15px 25px 15px

.services
  color #fff
  background url('../img/main-bg-2.webp') no-repeat center / cover

  @media (max-width 500px)
    background url('../img/main-bg-2.webp') no-repeat 30% 0 / cover

  &__body
    firstLevelElementsMargin 30

  &__title
    color #fff

  &__items
    margin 0 5% -10% auto
    flex-set row wrap
    width 90%

    @media (min-width 950px)
      width 60%

.service
  min-width 200px
  padding 10px 10px 10px 10px
  firstLevelElementsMargin 25
  margin 0 0 15px 0

  @media (min-width 650px)
    flex-basis 40%
    margin 0 10% 15% 0

  &__title
    font-size adapt-fsize(22, 18)

    @media (max-width 500px)
      text-align center

  &__text
    font-size adapt-fsize(14)

.team
  &__body
    flex-set row wrap
    firstLevelElementsMargin 40

  &__title
    padding-right 15px

    .text-underline
      display inline-block

      &:after
        width 100%

  &__main
    margin-left auto
    firstLevelElementsMargin 40

  &__workers
    flex-set row wrap
    flex-content-position center center
    margin 0 -15px 0 -15px

.worker
  &__body
    flex-set column nowrap
    text-align center
    padding 15px 15px 15px 15px

  &__name
    font-family MyriadPro-sb
    font-size adapt-fsize(20, 16)

  &__position
    font-style italic

.testimonials
  background #000

  &__body
    padding 4% 0 12% 0
    firstLevelElementsMargin 30

    *
      color #fff

  &__title
    color #fff

    &:after
      width 40%

  &__main
    flex-set row nowrap
    flex-content-position center center

    @media (min-width 768px)
      margin-right 15%

    @media (max-width 600px)
      flex-set column nowrap
      firstLevelElementsMargin 40

  &__text-container
    padding 0 60px 0 0

.user
  text-align center

  &__image-container
    border 2px solid #ffc600
    border-radius 50%
    margin 0 0 25px 0

    img
      border-radius 50%

  &__body
    firstLevelElementsMargin 5
    flex-set column nowrap

  &__name
    font-family MyriadPro-sb

  &__position
    font-size adapt-fsize(14)
    font-style italic

.contact
  flex-set row nowrap

  @media (max-width 1000px)
    flex-set column-reverse nowrap

  &__map
    @media (max-width 1000px)
      min-height 500px

    flex-basis 60%
    flex-grow 1

    iframe
      block-size 100%

  &__body
    padding 3% 3% 3% 3%
    background #0f0fdb
    firstLevelElementsMargin 20

    *
      color #fff

    @media (min-width 1000px)
      padding-right 17%
      padding-left 7%

    @media (max-width 1000px)
      adaptive-property 'padding-right' 100 20
      adaptive-property 'padding-left' 100 20

  &__title
    padding-left 20px

    &:after
      right -15px
      width 90%
      background #fff

  &__address
    firstLevelElementsMargin 30

  &__socials
    border-top 2px solid #fff
    padding 10px 0 0 20px

.contact-form
  flex-set row wrap

  &__input
    background #2121d4
    border 2px solid #fff
    padding 10px 13px 10px 13px
    margin 10px 0 10px 0
    width 100%
    font-family inherit

    &::placeholder
      font-family inherit
      color #fff
      opacity 1

  &__phone
    flex-basis 40%
    margin-right auto

  &__email
    flex-basis 50%

  &__input-message
    height 75px
    resize none
    font-family inherit

  &__submit
    font-size adapt-fsize(18, 15)
    margin-top 10px
    padding 5px 30px 5px 30px
    color #000
    background #ffc600
    text-transform uppercase
    border 1px solid #ffc600
    transition all 0.2s ease

    &:hover, &:focus
      border-color #ffc600
      background #2121d4
      color #ffc600

    @media (max-width 426px)
      flex-basis 100%

.contact-address
  &__body
    padding 8% 5px 8% 5%
    flex-set column nowrap
    firstLevelElementsMargin 25

  &__block
    flex-set row nowrap

  &__loc-map
    font-family MyriadPro-sb
    font-size adapt-fsize(18, 15)

  &__content-name
    font-family MyriadPro-sb
    font-size adapt-fsize(18, 15)
    width 80px
    word-wrap break-word

  &__content
    padding 5px 5px 5px 5px
    block-size max-content
    font-size adapt-fsize(14)

    &:hover, &:focus
      opacity 0.8

  &__phone
    &:before
      content '+'

.blogs
  &__body
    flex-set row nowrap

    @media (max-width 600px)
      flex-set column nowrap

  &__nav
    flex-basis 30%
    padding-right 25px

  &__title
    margin 0 0 15px 0

    &:after
      width 100%

  &__content
    flex-basis 70%
    display grid
    grid-template 'blog blog blog' auto / 1fr 1fr 1fr
    gap 80px

    @media (max-width 1000px)
      grid-template 'blog blog' auto / 1fr 1fr
      gap 40px

    @media (max-width 500px)
      grid-template 'blog' auto / 1fr
      gap 20px

.blog-nav
  &__buttons
    flex-set column nowrap
    firstLevelElementsMargin 15

    @media (min-width 1100px)
      padding 0 0 0 10%

    @media (max-width 600px)
      firstLevelElementsMargin 0

    @media (max-width 600px)
      flex-set row wrap
      margin 0 0 25px 0

  &__button
    text-align left
    font-size adapt-fsize(20, 16)
    padding 10px 10px 10px 10px
    transition all 0.2s ease

    @media (max-width 600px)
      padding 15px 20px 15px 20px

    &:hover, &:focus
      color #ffc600

.blogs-content
  @media (max-width 600px)
    text-align center

  &__body
    firstLevelElementsMargin 10

  &__image
    margin 0 0 5px 0
    block-size 180 206

  &__date
    display inline-block
    color #ffc600
    font-size adapt-fsize(18, 15)

  &__title
    font-family MyriadPro-b
    font-size adapt-fsize(16, 14)

  &__text
    font-size adapt-fsize(14)
    font-style italic
