html {
  --main-font-color: #000;
  --main-font-family: MyriadPro;
  --bg: #fff;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::focus,
::active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible {
  outline: 0;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

address {
  font-style: normal;
}

.header {
  z-index: 5;
  height: 100vh;
  min-height: 500px;
  background: url("../img/main-bg.webp") no-repeat center/cover fixed;
}

.header__body {
  position: relative;
  padding: 10% 4% 10% 4%;
  position: absolute;
  top: 0;
  left: 0;
}

.header__body >*:not(:last-child) {
  margin-bottom: 30px;
}

.header__body * {
  z-index: 5;
}

.navmenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.navmenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0 5px 0 5px;
}

.navmenu__list li {
  position: relative;
  font-size: calc((100vw - 20rem)/(90 - 20) * (1.125 - 0.9375) + 0.9375rem);
  padding: 10px 15px 10px 15px;
  color: #ffc600;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.navmenu__list li:after {
  position: absolute;
  bottom: 10%;
  left: 0;
  display: inline-block;
  height: 2px;
  width: 100%;
  content: '';
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.navmenu__list li:hover,
.navmenu__list li:focus {
  color: #fff;
}

.navmenu__list li:not(:last-child) {
  margin-right: 35px;
}

.main-title {
  display: inline-block;
  font-size: calc((100vw - 20rem)/(90 - 20) * (3.75 - 1.875) + 1.875rem);
  font-family: MyriadPro-b;
  color: #fff;
  line-height: .9;
}

.main-title :first-letter {
  color: #ffc600;
}

.footer {
  background: #000;
  color: #fff;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.footer__body .logo {
  color: #fff;
}

.footer__navmenu-container {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding: 20% 5% 10% 5%;
}

.footer__navmenu-container >*:not(:last-child) {
  margin-bottom: 50px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.footer__nav >*:not(:last-child) {
  margin-bottom: 15px;
}

.footer__nav a {
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.footer__nav a:hover,
.footer__nav a:focus {
  color: #ffc600;
}

.footer__li {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 20px 10px 0;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.footer__li:hover,
.footer__li:focus {
  color: #ffc600;
}

.footer__socials {
  padding-top: 15px;
  border-top: 2px solid #ffc600;
}

.footer__socials a {
  display: inline-block;
}

.footer__socials a:not(:last-child) {
  margin: 0 5px 0 0;
}

.footer__bg {
  padding: 10% 3% 10% 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  background: url("../img/main-bg-3.webp") no-repeat center/cover;
}

.footer__bg .main-title {
  font-size: calc((100vw - 20rem)/(90 - 20) * (6.875 - 2.5) + 2.5rem);
}

@font-face {
  font-family: 'MyriadPro-b';
  font-display: swap;
  src: url("../fonts/MYRIADPRO-BOLD.woff2") format("woff2");
  font-weight: '700';
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  font-display: swap;
  src: url("../fonts/MYRIADPRO-REGULAR.woff2") format("woff2");
  font-weight: '400';
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  font-display: swap;
  src: url("../fonts/MyriadPro-it.woff2") format("woff2");
  font-weight: '400';
  font-style: italic;
}

@font-face {
  font-family: 'MyriadPro-sb';
  font-display: swap;
  src: url("../fonts/MYRIADPRO-SEMIBOLD.woff2") format("woff2");
  font-weight: '600';
  font-style: normal;
}

.in-block-container {
  margin: auto;
  width: 90%;
}

.block {
  padding-top: 5%;
  padding-bottom: 5%;
}

.adaptive-image {
  display: block;
  position: relative;
  padding: 0 0 100% 0;
}

.adaptive-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo {
  display: inline-block;
  font-family: MyriadPro-sb;
  font-size: calc((100vw - 20rem)/(90 - 20) * (5 - 1.875) + 1.875rem);
  color: #000;
}

.yellow-text {
  color: #ffc600;
}

.yellow-fl {
  display: inline-block;
}

.yellow-fl:first-letter {
  color: #ffc600;
}

.big-fl {
  display: inline-block;
}

.big-fl:first-letter {
  font-size: 150%;
}

.text-container {
  font-family: MyriadPro;
}

.text-container >*:not(:last-child) {
  margin-bottom: 20px;
}

.text-container__italic-text {
  font-style: italic;
  font-size: calc((100vw - 20rem)/(90 - 20) * (1 - 0.75) + 0.75rem);
}

.text-container__text {
  color: #595959;
  font-size: calc((100vw - 20rem)/(90 - 20) * (0.875 - 0.75) + 0.75rem);
}

.title {
  display: inline-block;
  color: #000;
  font-family: MyriadPro-sb;
  font-size: calc((100vw - 20rem)/(90 - 20) * (1.875 - 1.25) + 1.25rem);
}

.text-underline {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.text-underline:after {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 1px;
  background: #a0a0a0;
  content: '';
}

body {
  height: 100%;
  color: var(--main-font-color);
  font: calc((100vw - 20rem)/(90 - 20) * (1 - 0.75) + 0.75rem) var(--main-font-family);
}

body.scroll-block {
  overflow: hidden;
}

body button {
  font-family: var(--main-font-family);
  color: var(--main-font-color);
}

.main {
  width: 100%;
}

.main__body {
  background: var(--bg);
}

.about__body {
  padding: 0 10% 0 15%;
}

.about__body >*:not(:last-child) {
  margin-bottom: 60px;
}

.about__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.about__top >*:not(:last-child) {
  margin-bottom: 50px;
}

.about__title {
  font-size: calc((100vw - 20rem)/(90 - 20) * (2.1875 - 1.25) + 1.25rem);
  line-height: .9;
  font-family: MyriadPro-sb;
  color: #717171;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.about__title .text-underline:after {
  width: 50%;
  right: 0;
}

.about__text-container {
  position: relative;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  padding-left: 20px;
  margin-left: auto;
}

.about__text-container:before {
  position: absolute;
  left: -20px;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  height: 80%;
  width: 2px;
  background: #a0a0a0;
  content: '';
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 -60px 0 -60px;
}

.advantages__item {
  min-width: 300px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 60px 20px 60px;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
}

.advantage >*:not(:last-child) {
  margin-bottom: 20px;
}

.advantage__image {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 15px 15px 15px 15px;
  background: #e8e8e8;
  border: 2px solid #e49802;
  border-radius: 50%;
}

.advantage__title {
  font-size: calc((100vw - 20rem)/(90 - 20) * (1.125 - 0.875) + 0.875rem);
}

.advantage__text {
  font-style: italic;
  text-align: center;
  font-size: calc((100vw - 20rem)/(90 - 20) * (0.875 - 0.75) + 0.75rem);
}

.projects__body {
  padding-bottom: 30px;
}

.projects__header >*:not(:last-child) {
  margin-bottom: 10px;
}

.projects__title {
  padding: 0 0 5px 0;
}

.projects__title:after {
  width: 60%;
  content: '';
}

.projects__buttons:not(:last-child) {
  padding-right: 20px;
}

.projects__button {
  font-size: calc((100vw - 20rem)/(90 - 20) * (0.875 - 0.75) + 0.75rem);
  font-family: MyriadPro-sb;
  text-transform: uppercase;
  padding: 5px 10px 5px 10px;
}

.projects__button:after {
  -webkit-transform: translate(0,-10px);
      -ms-transform: translate(0,-10px);
          transform: translate(0,-10px);
  display: inline-block;
  width: 50%;
  height: 1.5px;
  background: rgba(255,200,0,0);
  content: '';
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.projects__button.active:after,
.projects__button:hover:after,
.projects__button:focus:after {
  background: #ffc600;
}

.projects__main-button {
  padding-right: 30px;
}

.projects__gallery {
  display: grid;
  grid-template: 'game game game game' auto/1fr 1fr 1fr 1fr;
}

.gallery__item img {
  width: 100%;
  height: 100%;
}

.process__body >*:not(:last-child) {
  margin-bottom: 30px;
}

.process__title:after {
  width: 60%;
  bottom: -2px;
  content: '';
}

.step__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.step__body-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
}

.step__image {
  padding-bottom: 38%;
}

.step__image img {
  width: 100%;
  height: 100%;
}

.step__main {
  padding: 45px 35px 45px 35px;
}

.step__main >*:not(:last-child) {
  margin-bottom: 35px;
}

.services {
  color: #fff;
  background: url("../img/main-bg-2.webp") no-repeat center/cover;
}

.services__body >*:not(:last-child) {
  margin-bottom: 30px;
}

.services__title {
  color: #fff;
}

.services__items {
  margin: 0 5% -10% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 90%;
}

.service {
  min-width: 200px;
  padding: 10px 10px 10px 10px;
  margin: 0 0 15px 0;
}

.service >*:not(:last-child) {
  margin-bottom: 25px;
}

.service__title {
  font-size: calc((100vw - 20rem)/(90 - 20) * (1.375 - 1.125) + 1.125rem);
}

.service__text {
  font-size: calc((100vw - 20rem)/(90 - 20) * (0.875 - 0.75) + 0.75rem);
}

.team__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.team__body >*:not(:last-child) {
  margin-bottom: 40px;
}

.team__title {
  padding-right: 15px;
}

.team__title .text-underline {
  display: inline-block;
}

.team__title .text-underline:after {
  width: 100%;
}

.team__main {
  margin-left: auto;
}

.team__main >*:not(:last-child) {
  margin-bottom: 40px;
}

.team__workers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px 0 -15px;
}

.worker__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  text-align: center;
  padding: 15px 15px 15px 15px;
}

.worker__name {
  font-family: MyriadPro-sb;
  font-size: calc((100vw - 20rem)/(90 - 20) * (1.25 - 1) + 1rem);
}

.worker__position {
  font-style: italic;
}

.testimonials {
  background: #000;
}

.testimonials__body {
  padding: 4% 0 12% 0;
}

.testimonials__body >*:not(:last-child) {
  margin-bottom: 30px;
}

.testimonials__body * {
  color: #fff;
}

.testimonials__title {
  color: #fff;
}

.testimonials__title:after {
  width: 40%;
}

.testimonials__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__text-container {
  padding: 0 60px 0 0;
}

.user {
  text-align: center;
}

.user__image-container {
  border: 2px solid #ffc600;
  border-radius: 50%;
  margin: 0 0 25px 0;
}

.user__image-container img {
  border-radius: 50%;
}

.user__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.user__body >*:not(:last-child) {
  margin-bottom: 5px;
}

.user__name {
  font-family: MyriadPro-sb;
}

.user__position {
  font-size: calc((100vw - 20rem)/(90 - 20) * (0.875 - 0.75) + 0.75rem);
  font-style: italic;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.contact__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contact__map iframe {
  width: 100%;
  height: 100%;
}

.contact__body {
  padding: 3% 3% 3% 3%;
  background: #0f0fdb;
}

.contact__body >*:not(:last-child) {
  margin-bottom: 20px;
}

.contact__body * {
  color: #fff;
}

.contact__title {
  padding-left: 20px;
}

.contact__title:after {
  right: -15px;
  width: 90%;
  background: #fff;
}

.contact__address >*:not(:last-child) {
  margin-bottom: 30px;
}

.contact__socials {
  border-top: 2px solid #fff;
  padding: 10px 0 0 20px;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.contact-form__input {
  font-size: calc((100vw - 20rem)/(90 - 20) * (1 - 0.875) + 0.875rem);
  background: #2121d4;
  border: 2px solid #fff;
  padding: 10px 13px 10px 13px;
  margin: 10px 0 10px 0;
  width: 100%;
  font-family: inherit;
}

.contact-form__input::-webkit-input-placeholder {
  font-family: inherit;
  color: #fff;
  opacity: 1;
}

.contact-form__input::-moz-placeholder {
  font-family: inherit;
  color: #fff;
  opacity: 1;
}

.contact-form__input:-ms-input-placeholder {
  font-family: inherit;
  color: #fff;
  opacity: 1;
}

.contact-form__input::-ms-input-placeholder {
  font-family: inherit;
  color: #fff;
  opacity: 1;
}

.contact-form__input::placeholder {
  font-family: inherit;
  color: #fff;
  opacity: 1;
}

.contact-form__phone {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-right: auto;
}

.contact-form__email {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.contact-form__input-message {
  height: 75px;
  resize: none;
  font-family: inherit;
}

.contact-form__submit {
  font-size: calc((100vw - 20rem)/(90 - 20) * (1.125 - 0.9375) + 0.9375rem);
  margin-top: 10px;
  padding: 5px 30px 5px 30px;
  color: #000;
  background: #ffc600;
  text-transform: uppercase;
  border: 1px solid #ffc600;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.contact-form__submit:hover,
.contact-form__submit:focus {
  border-color: #ffc600;
  background: #2121d4;
  color: #ffc600;
}

.contact-address__body {
  padding: 8% 5px 8% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.contact-address__body >*:not(:last-child) {
  margin-bottom: 25px;
}

.contact-address__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.contact-address__loc-map {
  font-family: MyriadPro-sb;
  font-size: calc((100vw - 20rem)/(90 - 20) * (1.125 - 0.9375) + 0.9375rem);
}

.contact-address__content-name {
  font-family: MyriadPro-sb;
  font-size: calc((100vw - 20rem)/(90 - 20) * (1.125 - 0.9375) + 0.9375rem);
  width: 80px;
  word-wrap: break-word;
}

.contact-address__content {
  padding: 5px 5px 5px 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: calc((100vw - 20rem)/(90 - 20) * (0.875 - 0.75) + 0.75rem);
}

.contact-address__content:hover,
.contact-address__content:focus {
  opacity: .8;
}

.contact-address__phone:before {
  content: '+';
}

.blogs__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.blogs__nav {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding-right: 25px;
}

.blogs__title {
  margin: 0 0 15px 0;
}

.blogs__title:after {
  width: 100%;
}

.blogs__content {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: grid;
  grid-template: 'blog blog blog' auto/1fr 1fr 1fr;
  gap: 80px;
}

.blog-nav__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.blog-nav__buttons >*:not(:last-child) {
  margin-bottom: 15px;
}

.blog-nav__button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: left;
  font-size: calc((100vw - 20rem)/(90 - 20) * (1.25 - 1) + 1rem);
  padding: 10px 10px 10px 10px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.blog-nav__button.active,
.blog-nav__button:hover,
.blog-nav__button:focus {
  color: #ffc600;
}

.blogs-content__body {
  color: #000;
}

.blogs-content__body >*:not(:last-child) {
  margin-bottom: 10px;
}

.blogs-content__image {
  margin: 0 0 5px 0;
  width: 180;
  height: 206;
}

.blogs-content__date {
  display: inline-block;
  color: #ffc600;
  font-size: calc((100vw - 20rem)/(90 - 20) * (1.125 - 0.9375) + 0.9375rem);
}

.blogs-content__title {
  font-family: MyriadPro-b;
  font-size: calc((100vw - 20rem)/(90 - 20) * (1 - 0.875) + 0.875rem);
}

.blogs-content__text {
  font-size: calc((100vw - 20rem)/(90 - 20) * (0.875 - 0.75) + 0.75rem);
  font-style: italic;
}

@media (min-width:426px) {
  .navmenu__list li:hover:after,
  .navmenu__list li:focus:after {
    background: #ffc600;
  }
}

@media (min-width:600px) {
  .footer__socials {
    width: 50%;
  }
}

@media (min-width:650px) {
  .service {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    margin: 0 10% 15% 0;
  }
}

@media (min-width:700px) {
  .step__image {
    width: 50%;
  }

  .step__main {
    width: 50%;
  }
}

@media (min-width:950px) {
  .services__items {
    width: 60%;
  }
}

@media (min-width:1000px) {
  .process__steps {
    padding-left: 10%;
  }

  .contact__body {
    padding-right: 17%;
    padding-left: 7%;
  }
}

@media (min-width:1100px) {
  .blog-nav__buttons {
    padding: 0 0 0 10%;
  }
}

@media (min-width:1560px) {
  .step__image {
    padding-bottom: 25%;
  }

  .team__main {
    margin-right: auto;
  }
}

@media (min-width:1600px) {
  .projects__gallery {
    grid-template: 'game game game game game' auto/1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width:1300px) {
  .navmenu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width:1000px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
  }

  .contact__map iframe {
    min-height: 500px;
  }

  .contact__body {
    padding-right: calc(20px + (100 - 20) * ((100vw - 320px) / (1000 - 320)));
    padding-left: calc(20px + (100 - 20) * ((100vw - 320px) / (1000 - 320)));
  }

  .blogs__content {
    grid-template: 'blog blog' auto/1fr 1fr;
    gap: 40px;
  }
}

@media (max-width:768px) {
  .about__body {
    padding: 0 10% 0 10%;
  }

  .about__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  .about__text-container:before {
    width: 80%;
    height: 2px;
    top: -20px;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }

  .advantages {
    margin: 0 -30px 0 -30px;
  }

  .advantages__item {
    padding: 20px 30px 20px 30px;
  }

  .projects__gallery {
    grid-template: 'game game game' auto/1fr 1fr 1fr;
  }

  .services__items {
    margin: 0 5% 5% auto;
  }
}

@media (max-width:700px) {
  .step__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  .step__image {
    padding-bottom: 65%;
  }

  .step__main {
    padding: 25px 15px 25px 15px;
  }
}

@media (max-width:650px) {
  .blogs__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  .blog-nav__buttons >*:not(:last-child) {
    margin-bottom: 0;
  }

  .blog-nav__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 0 0 25px 0;
  }

  .blog-nav__button {
    padding: 15px 20px 15px 20px;
  }
}

@media (max-width:600px) {
  .footer__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
  }

  .footer__navmenu-container {
    padding: 10% 5% 10% 5%;
  }

  .footer__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__li {
    padding: 20px 30px;
  }

  .footer__socials {
    text-align: center;
  }

  .footer__socials a {
    padding: 15px 10px 15px 10px;
  }

  .testimonials__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  .testimonials__main >*:not(:last-child) {
    margin-bottom: 40px;
  }

  .blogs-content {
    text-align: center;
  }
}

@media (max-width:550px) {
  .projects__gallery {
    grid-template: 'game game' auto/1fr 1fr;
  }
}

@media (max-width:500px) {
  .services {
    background: url("../img/main-bg-2.webp") no-repeat 30% 0/cover;
  }

  .service__title {
    text-align: center;
  }

  .blogs__content {
    grid-template: 'blog' auto/1fr;
    gap: 20px;
  }
}

@media (max-width:426px) {
  .navmenu__list li {
    background: #000;
    border-bottom: 1px solid #ffc600;
  }

  .contact-form__submit {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width:1560px) and (min-width:768px) {
  .testimonials__main {
    margin-right: 15%;
  }
}